.toolbar-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}

.buttons-group {
  display: flex;
  gap: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-gap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}