@import "tailwindcss";

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-bg); 
}

@theme {
  --color-accent: var(--color-accent);
  --color-accent-alt: var(--color-accent-alt);

  --color-bg: var(--color-bg);
  --color-bg-sec: var(--color-bg-sec);
  --color-bg-ter: var(--color-bg-ter);

  --color-txt: var(--color-txt);
  --color-txt-sec: var(--color-txt-sec);
  --color-txt-dim: var(--color-txt-dim);

  --color-border: var(--color-border);
  --color-ok: var(--color-ok);
  --color-err: var(--color-err);
}

@layer base {
  :root {
    --color-bg: oklch(100% 0 0);
    --color-bg-sec: oklch(96.2% 0.006 285);
    --color-bg-ter: oklch(91.8% 0.007 285);

    --color-txt: oklch(0% 0 0);
    --color-txt-sec: oklch(34.8% 0.015 285);
    --color-txt-dim: oklch(62.6% 0.01 285);
    --color-border: oklch(87.863% 0.05088 285.286);

    --color-ok: oklch(66.528% 0.17335 141.993);
    --color-err: oklch(52.596% 0.20053 23.982);
  }

  .dark {
    --color-bg: oklch(0% 0 0);
    --color-bg-sec: oklch(17.304% 0.00002 271.152);
    --color-bg-ter: oklch(41.13% 0.00995 285.893);

    --color-txt: oklch(100% 0 0);
    --color-txt-sec: oklch(73.5% 0.015 285);
    --color-txt-dim: oklch(17.764% 0.00002 271.152);
    --color-border: oklch(24.995% 0.00302 16.842);
  }

  /* Variante Azul Extendido */
  .accent-blue {
    --color-accent: oklch(50% 0.25 271.7);
  }
  .dark.accent-blue {
    --color-accent: oklch(70% 0.25 271.7); 
  }

  /* Variante Naranja */
  .accent-orange {
    --color-accent: oklch(60% 0.15 50);
  }
  .dark.accent-orange {
    --color-accent: oklch(75% 0.15 50);
  }

  /* Variante Verde */
  .accent-green {
    --color-accent: oklch(50% 0.15 150);
  }
  .dark.accent-green {
    --color-accent: oklch(70% 0.15 150);
  }

  /* Variante Amarillo / Dorado */
  .accent-yellow {
    --color-accent: oklch(60% 0.13 75);
  }
  .dark.accent-yellow {
    --color-accent: oklch(80% 0.13 85);
  }
}